:root {
	--white-color: #ffffff;
}

* {
	font-size: 16px;
}

header {
	display: flex;
	justify-content: center;
	background-color: blanchedalmond;
	padding: 2%;
}

header h1 {
	font-size: 2.5rem;
}

main {
	display: flex;
	flex-direction: column;
	height: 70vh;
}

nav {
	display: flex;
	padding: 1%;
	background-color: black;
	color: var(--white-color);
}

nav .highscore {
	flex: 1;
}

nav .timer {
	flex: 1;
	text-align: right;
}

main div {
	margin: auto;
}

.coming-soon h2 {
	margin-bottom: 5%;
}
